.main-container {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #800080c4;
    color: white;
    width: 100%;
}
.batch-search-row {
    width: 100%;
}

.panel-header{
    height: 290px;
    border: 1px solid #00000063;
    margin-left: 5%;
}

.panel1{
    width: 94%;
    height: 290px;
    border: 1px solid #00000063;
    /*margin-left: 4px;*/
}

.Panel2{
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.ag-grid-panel {
    border: 1px ridge #00000063 ;
    width: 114%;
    margin-left: 38px;
    margin-top: 15px;
    padding: 15px;
    padding-top: 5px;
}

/*.table-bordered{*/
    /*width: 690px;*/
/*}*/
.batch-search-table {
    width: 97%;
    height:100%;
}
.button-size{
    margin-top: 20px;
    margin-bottom: 20px;
    color:mediumpurple;
    /*border-color:  #0000ff73;*/
}
.ag-grid-row{
    width: 100%;
    padding-bottom: 2%;
}
#export-list.btn-primary:enabled {
    background-color: #0000ffb0;
}

#export-list.btn-primary:disabled {
    background-color: lightgray;
    cursor: none;
}
.table-height {
    height: fit-content;
    max-height: 235px;
}
.List-view-button{
    margin-left: 5px;
    color: mediumpurple;
}

