.main-container {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #800080c4;
    color: white;
    width: 100%;
}
.batch-search-row {
    width: 100%;
}

.panel-header{
    height: 290px;
    border: 1px solid black;
    margin-left: 5%;
}

.panel1{
    width: 94%;
    height: 290px;
    border: 1px solid black;
    /*margin-left: 4px;*/
}

.Panel2{
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
}

.ag-grid-panel {
    /*border: 1px solid black;*/
    width: 112%;
    margin-left: 42px;
    margin-top: 15px;
}

/*.table-bordered{*/
    /*width: 690px;*/
/*}*/
.batch-search-table {
    width: 97%;
    height:100%;
}
.button-size{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:#4f4d4e85;
    border:  #0000ff73;
}

#export-list.btn-primary:enabled {
    background-color: #0000ffb0;
}

#export-list.btn-primary:disabled {
    background-color: lightgray;
    cursor: none;
}
.table-height {
    height: fit-content;
    max-height: 235px;
}

